* {
  font-family: "poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  font-family: system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #27272a;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(10deg, #e100ffc5 20%, #1ce9b7);
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.1),
    rgba(49, 49, 49, 0.1)
  );
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url("/img/bg5.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.1;
}

header {
  padding: 10px;
  background-color: rgba(48, 48, 48, 0);
  text-align: center;
  backdrop-filter: blur(5px);
}

header h1 {
  font-weight: 500;
  color: transparent;
  background-image: linear-gradient(90deg, #e100ffc5, #1ce9b7);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}

.choose-type-container button,
#reset-btn {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.2rem 0.6rem;
  color: white;
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
}

#exercice-btn[checked] {
  border-color: transparent;
  background-color: red;
}
#cour-btn[checked] {
  border-color: transparent;
  background-color: green;
}
#devoir-btn[checked] {
  border-color: transparent;
  background-color: blueviolet;
}

#exercice-btn:hover {
  background-color: red;
  padding: 0.2rem 0.8rem;
}
#cour-btn:hover {
  background-color: green;
  padding: 0.2rem 0.8rem;
}
#devoir-btn:hover {
  background-color: blueviolet;
  padding: 0.2rem 0.8rem;
}

#reset-btn {
  margin-top: 0.5rem;
  background-color: rgb(197, 105, 0);
  border-color: rgb(197, 105, 0);
}

.toggle-aside {
  padding-top: 3px;
  padding-left: 3px;
  text-align: center;
  top: 13px;
  left: 7px;
  position: fixed;
  border: 1px solid rgba(255, 255, 255, 0.781);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  cursor: pointer;
  z-index: 3;
  transition: padding-left 0.2s ease-in-out, background-color 0.2s ease,
    transform 0.5s ease;
}

.toggle-aside:hover {
  padding-left: 7.5px;
  background-color: rgba(28, 105, 63);
}

.toggle-aside img {
  filter: invert(1);
}

@keyframes slideIn-right {
  from {
    translate: -30rem;
  }
  to {
    translate: 0;
  }
}

@keyframes slideOut-left {
  from {
    translate: 0;
  }
  to {
    translate: -30rem;
  }
}

#aside {
  max-width: 30rem;
  position: fixed;
  inset: 0;
  background-color: #27272a;
  z-index: 2;
  color: rgba(238, 238, 238, 0.9);
}

#aside.close {
  display: none;
}

#aside .head {
  font-weight: normal;
  padding: 20px 10px;
  text-align: center;
}

#aside .body {
  padding-block: 20px;
  min-height: 80vh;
}

.aside-list {
  list-style: none;
  text-align: center;
}

.aside-list > div {
  display: inline-flex;
  margin-block: 1rem;
}

.aside-list li {
  padding: 15px;
  text-align: center;
}

.aside-list a {
  padding: 8px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgb(28, 105, 63);
  transition: 0.15s color, 0.15s background-color;
}

.aside-list a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(28, 105, 63);
}

#aside .foot {
  text-align: center;
  opacity: 0.6;
}

/* 




*main */
main {
  padding: 1rem;
  padding-top: 2rem;
  color: #eee;
  min-height: 100vh;
}

#hero {
  margin-inline: auto;
  max-width: 85rem;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  padding-block: 2rem;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
}

.card {
  margin-inline: auto;
  width: 100%;
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 20px;
  padding: 1rem;
  transition: scale 0.3s ease;
}

.card:hover {
  scale: 1.02;
}

.card-link {
  display: flex;
  gap: 0.5rem;
}

.card-left {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.card-left span {
  color: rgb(216, 216, 216);
  text-decoration: none;
}

.card-left h4 {
  color: white;
  padding-top: 1rem;
  text-decoration: none;
}

.card-right {
  display: grid;
  align-content: center;
  margin-left: auto;
  padding-block: 16px;
  width: 50%;
  min-height: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.068);
  aspect-ratio: 16/9;
  overflow: hidden;
}

.card-right img {
  margin-inline: auto;
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 500px) {
  main {
    padding: 0.5rem;
  }
  .card {
    padding: 0.5rem;
  }
}

/* 



footer */
#footer {
  display: inline-flex;
  width: 100%;
  background-color: #27272a;
  color: white;
  padding: 40px;
  padding-block: 60px;
}

.footer-left,
.footer-middle {
  width: 20%;
}

.footer-right {
  margin-left: auto;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  padding: 8px;
}

.footer-list a {
  display: block;
  width: 90%;
  text-indent: 10%;
  padding-block: 7px;
  border-radius: 50px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease color, 0.2s ease background-color;
}

.footer-list a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(28, 105, 63);
}

.go-top {
  text-align: right;
  margin-block: 16px;
  padding: 3px 6px;
  border: 1px solid white;
  width: fit-content;
  margin-left: auto;
  transition: 0.1s ease background-color;
}

.go-top:hover {
  background-color: #333336;
}

.footer-contact {
  padding-top: 50%;
}

.footer-contact form {
  display: inline-flex;
}

.footer-contact textarea {
  min-width: 80%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.footer-contact button {
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  #footer {
    display: grid;
  }
  .footer-left,
  .footer-middle,
  .footer-right {
    width: 100%;
  }
  .footer-right {
    display: inline-flex;
    flex-direction: row-reverse;
    padding-top: 20px;
  }
  .footer-contact {
    padding: 0;
    text-align: center;
  }
  .go-top {
    margin-block: 0;
  }
}

@media (max-width: 400px) {
  .footer-right {
    display: grid;
    gap: 1rem;
  }
}
